<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <Binary Id="GACaDll"
            SourceFile="$(var.GALibraryCustomActions.TargetDir)GALibraryCustomActions.CA.dll" />

    <CustomAction Id="TrackInstallationImmediate"
                  BinaryKey="GACaDll"
                  DllEntry="TrackInstallationImmediate"
                  Execute="immediate"
                  Return="check" />

    <CustomAction Id="TrackInstallationDeferred"
                  BinaryKey="GACaDll"
                  DllEntry="TrackInstallationDeferred"
                  Execute="deferred"
                  Return="check" />

    <InstallExecuteSequence>
      <Custom Action="TrackInstallationImmediate" Before="TrackInstallationDeferred">
        NOT Installed
      </Custom>
      <Custom Action="TrackInstallationDeferred" After="InstallInitialize">
        NOT Installed
      </Custom>
    </InstallExecuteSequence>
  </Fragment>
</Wix>