<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:ga="https://github.com/frederiksen/WixGAExtension">
  <Product Id="*" Name="TestSetupProject" Language="1033" Version="1.5.1.0" Manufacturer="TestSetupProject" UpgradeCode="3324c356-da6c-46f7-9acf-e5cd8de6e820">

    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    
    <ga:GoogleAnalytics Id="UA-90448268-1" />
    
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    
    <MediaTemplate EmbedCab="yes" />
    
    <Feature Id="ProductFeature" Title="TestSetupProject" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="TestSetupProject" />
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="ProductComponent">
        <File Id="dummy.txt" Name="dummy.txt" Source="..\temp\dummy.txt" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
